<footer class="footer" style="background-color:#4A4A4A;">
  <div class="columns" style="color:white;">
    <div class="column is-2"></div>
    <div class="column is-3">
      <%= link_to('HOME', root_path, style: "color:white", :method => :get) %>
      <p>ABOUT US</p>
      <p>HISTORY</p>
      <p>NEWSLETTERS</p>
      <%= link_to('CONTACT US', contact_path, style: "color:white", :method => :get) %>
    </div>
    <div class="column is-3">
        <p>TEAM</p>
        <p>STORIES</p>
        <p>LOCATION</p>
        <p>BLOG</p>
        <p>NEWS</p>
    </div>
    <div class="column is-3">
      <div class="container">
        Join Our Newsletters
        <div class="field has-addons" style="padding-top:5px">
          <p class="control">
            <input class="input" type="text" placeholder="Your email address">
          </p>
          <p class="control">
            <a class="button is-info">
              Sign Up
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="column is-1"></div>
  </div>

</footer>

<div class="columns" style="background-color:#F3F3F3">
  <div class="column is-1"></div>
  <div class="column is-4" style="padding-left:4em">
    <p style="color:black">©2017 Rumah Cerita</p>
  </div>
  <div class="column is-5"></div>
  <div class="column is-1" style="padding-left:2em">
    <p><%= link_to('Back to top', root_path, style: "color:black", :method => :get) %></p>
  </div>

</div>
