<footer class="footer">
    <div class="columns">
        <div class="column is-three-quarters">
            <p>First column</p>
        </div>
        <div class="column">
            <div class="container">
                <p>Second Column</p>
            </div>
        </div>
    </div>

</footer>

    <div class="columns">
        <div class="column is-3">
            <p>©2017 Rumah Cerita</p>
        </div>

        <div class="column is-2 is-offset-8">
            <p>Back to top</p>
        </div>
    </div>
