<nav class="nav">
    <div class="nav-left">

        <figure class="image">
            <%=  image_tag "/assets/coret.svg" %>
        </figure </div>

        <div class="nav-center is-hidden-desktop is-hidden-tablet">
            <a class="nav-item">
                <span class="icon">
                    <i class="fa fa-shopping-cart"></i>
                </span>
            </a>
        </div>

        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <span id="nav-toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>

        <!-- This "nav-menu" is hidden on mobile -->
        <!-- Add the modifier "is-active" to display it on mobile -->
        <div id='nav-menu' class="nav-right nav-menu" style="font-family:serif;">
            <% if user_signed_in? %>
            <%= link_to('LOGOUT', destroy_user_session_path, class: "nav-item is-tab", :method => :delete) %>
        <% else %>
            <%= link_to('SIGN IN', new_user_session_path, class: "nav-item is-tab")  %>
            <% end %>
        </div>

        <a class="nav-item" style="font-family:serif;">
            NEWSLETTERS
        </a>
        <a class="nav-item" style="font-family:serif;">
            CONTACT US
        </a>

        <a class="nav-item is-hidden-mobile">
            <span class="icon">
                <i class="fa fa-shopping-cart"></i>
            </span>
        </a>

        <div class="nav-item">
            <div class="field is-grouped"></div>
        </div>
    </div>

</nav>
